@model IEnumerable<JCVL20250319.AppWebMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center justify-content-center">
    <h1 class="text-black  mt-4">Categorias</h1>

</div>

<px|>
    <a asp-action="Create" class="btn btn-success text-center text-white mt-3" >Crear Nueva Categoria</a>
</px|>

<table class="table table-striped table-hover mt-5" id="myTable">
    <thead class=" table-dark text-white text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

                <td class="text-center">
                    <a class="btn btn-outline-success " asp-action="Edit" asp-route-id="@item.CategoryId">Editar</a>
                    <a class="btn btn-outline-info " asp-action="Details" asp-route-id="@item.CategoryId"> Detalles</a>
                    <a class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.CategoryId">Eliminar </a>
                </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
}

